[core]
    pager = less -FX

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch

    unadd = reset HEAD

    wc = log --stat
    graph = log --graph --oneline --decorate

    svnci = svn dcommit
    svnup = svn rebase

[color]
    ui = true

[log]
    abbrevCommit = true

[push]
    default = simple

[merge]
    tool = vimdiff
    guitool = gvimdiff

[mergetool]
    keepBackup = false
