[core]
    pager = less -F -X

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch

    unadd = reset HEAD

    wc = log --stat
    graph = log --graph --oneline --decorate

    svnci = svn dcommit
    svnup = svn rebase

[color]
    ui = true

[log]
    abbrevCommit = true

[pager]
    stash = false

[user]
    name = toro2k
    email = toro2k@gmail.com

[push]
    default = simple
